* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV-BAR */

.nav-bar {
  height: 60px;
  background-color:  navy;
  width: 100%;
  font-size: 16px;
  position: fixed;
  }
 .nav-bar ul {
  list-style: none;
  text-align: right;
  }
.nav-bar a {
  color: white;
  text-decoration: none;
}

.nav-bar li {
  display: inline-block;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-right: 50px;
  margin-left: 50px;

      }
.logo {
  text-transform: uppercase;
  position: absolute;
  left: 0px;
}

.btn {
  background-color: #F6E76D;
  color: black !important;
  padding: 11px 25px;
  border-radius: 40px;
}

/* HERO */

.hero {
  height: 80vh;
  background: url(https://images.unsplash.com/photo-1438183972690-6d4658e3290e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80) center;

    background-size: cover;
  background-repeat: no-repeat;
}
.hero-content {
  font-size: 50px;
  text-align: center;
}
h1 {
  padding-top: 20%;
}
footer {
  text-align: center;
  margin-top: 10%;
}
.container {
  padding: 10%;
}
.game {
  margin-top: 5%;
}
h2 {
  font-size: 29px;
}
/* GALLERY CSS */
.gallery-container {
  
  display: flex;
  
}
 
 .image {
  height: 200px;
  border-radius: 15px;
  margin: 40px;
  text-align: center;

}

